$one : #e8bfbf;
$two : #ffe49b;
$three: #a0d5e8;

@mixin rect() { //자주쓸것같은거를 함수처럼 저장해놓기
    width: 80px;
    height: 80px;
}

@keyframes first {
    0% { 

     }
    25% { 
        
     }
    50% { 

     }
    75% { 

     }
    100% {

    }

}

.SassTest { //SassTest에 스타일 적용
    margin: 10px;
    .box { //SassRest안에 있는 box에 스타일 적용
        border-radius: 50%;
        @include rect();
        
        &.first { //box랑 first가 동등할경우 스타일 적용
            background-color: $one;            
        }
        &.second {
            background-color: $two;
        }
        &.third {
            background-color: $three;
        }
        &:hover {
            opacity: 0.3;
        }
    }
}